includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    tmpDir: ./

    paths:
        - src

    level: 6

    excludePaths:
        - tests

    checkMissingIterableValueType: false
